/* details container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* The actual popup */
.details-container {
    display: flex;
    flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
    width: 300px;
    visibility: hidden;
    background-color: white;
    color: black;
    
    position: fixed;
    top: 25%;
    left: 10%;
    z-index: 1;
    justify-content: space-evenly;

    border-radius: 15px;
  }
  .details-header-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: grey;
    border-radius: 15px 15px 0 0;

  }
    .details-body-item, .title-container{
        align-self: center;
    }
    .detais-header-item, img{
        width:15%;      
        align-self: center;
    }

    .detais-header-item, button{
        align-self: center;
        margin-right: 10px;
    }

  .details-body-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
    .card.body.left, .card.body.right{
        justify-content: center;
    }


  .details-footer-item{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 10px;
        margin-bottom: 1;

  }

  /* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  
  /* This applies from 600px onwards 
        (Desktop specifics) */
@media (min-width: 600px) {
    .title-container img {
        width: 5%;
    }
    .detais-header-item, img{
        width:10%;
    }
    
    .details-container {
        width: 600px;
        position: fixed;
        top: 25%;
        left: 25%;

    }


}

  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

