@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.details-container {
    display: flex;
    position: fixed;
    left: 5%;
    top: 10%;
    width: 330px;
    max-height: 500px;
    padding-bottom: 30px;

    background-color: white;
    flex-direction: column;
	  align-items: center;
	  flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 15px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: black;

  }
  .details-header-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #F7B088;
    border-radius: 15px 15px 0 0;
  }

  .details-header-item, h1{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 2px;
  }
    .detais-header-item, img{
        width:15%;
        align-self: center;
    }

    .detais-header-item, button{
        align-self: center;
        margin-right: 10px;
        border: 1px solid gray;
        border-radius: 4px;

        border-radius: 4px;
        background: #F7B088;
        padding: 10px 22px;
        color: #000000;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
    }

  .details-body-item{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 400px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .card.body.left, .card.body.right{
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  #details-about{
    overflow: auto;
    height: 80%;
    margin: 10px;
    text-align: center;

    }

  #details-image{
    padding: 10px;
    width:100px;
    height:100px;
    object-fit:cover;
    background-position: center;
  }


/* start rating. inspo: https://codepen.io/orchard/pen/Jnwvb?editors=0100 */
fieldset{
  display: flex;
  padding: 0px;
  cursor: not-allowed;

}
.star-rating {
  font-family: 'FontAwesome';
  font-size: 150%;
  cursor: not-allowed;

}
.star-rating > fieldset {
  cursor: not-allowed;
  border: none;
  display: inline-block;
}
.star-rating > fieldset:not(:checked) > input {
  cursor: not-allowed;
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}
.star-rating > fieldset:not(:checked) > label {
  cursor: not-allowed;

  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  color: #F7B088;;
}
.star-rating > fieldset:not(:checked) > label:before {
  cursor: not-allowed;

  content: '\f006  ';
}
.star-rating > fieldset:not(:checked) > label:hover,
.star-rating > fieldset:not(:checked) > label:hover ~ label {
  cursor: not-allowed;

  color:#F7B088;;
}
.star-rating > fieldset:not(:checked) > label:hover:before,
.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
  cursor: not-allowed;

  content: '\f005  ';
}
.star-rating > fieldset > input:checked ~ label:before {
  cursor: not-allowed;

  content: '\f005  ';
}
.star-rating > fieldset > label:active {
  cursor: not-allowed;

  position: relative;
  top: 2px;
}

.card-body-right ul{
  padding: 0;
}
#details-comment{
  cursor: not-allowed;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  width: 100px;
}

.details-footer-item{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#disabled1, #disabled1:hover {
  cursor: not-allowed;
  background: lightgray;
  color: gray;
}

.userComment, ul{
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: smaller;
  font-style: italic;
  margin: 2px 10px 2px 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Popup container - can be anything you want */
.popup1 {
  position: fixed;
  display: flex;
  cursor: pointer;
  flex-direction: row;

}

/* The actual popup */
.popup1 .popuptext {
  visibility: hidden;
  background-color:gray;
  opacity:0.95;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5%;
  position: fixed;
  z-index: 1;
  top:50%;
  margin-left: -5%;
}

/* Toggle this class - hide and show the popup */
.popup1 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 0.95;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:0.95 ;}
}


  /* This applies from 600px onwards
        (Desktop specifics) */
        @media (min-width: 600px) {
          .title-container img {
              width: 5%;
          }
          .detais-header-item, img{
              width:10%;
          }

          .details-container {
              width: 600px;

          }
          .details-body-item{
            height: auto;

          }
          #details-about{
            width: auto;
            overflow-wrap: break-word;
            overflow-x: hidden;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: normal;
            padding-top: 7%;

          }
            #details-image{
              width:200px;
              height:200px;
              object-fit: cover;
              padding: 10px;
            }
            #details-comment{
              margin-left: 10px;
              margin-right: 10px;
              border: 1px solid gray;
              border-radius: 4px;
              width: 200px;
            }
      }
