.login-container {
    display: flex;
    position: fixed;
	  min-width: 100%;
	  min-height: 100%;

    background-color: white;
    flex-direction: column;
	  align-items: center;
	  flex-wrap: wrap;
    justify-content: space-between;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: black;

  }
  .profile-img {
    border-radius: 50%;
    width: 30%;
    height: auto;
  }

  .opnModalBtn{
    border-radius: 4px;
    background: #F7B088;
    padding: 10px 22px;
    color: #000000;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-top: 20px;
  }
  button:hover{
      transition: all 0.2s ease-in-out;
      background: #fff;
      color: #F7B088;
  }


  /* This applies from 600px onwards 
        (Desktop specifics) */
@media (min-width: 600px) {
	.login-container {
		left: 10%;
    	top: 10%;
		min-width: 500px;
		min-height: 300px;
		border-radius: 15px;

	}
}

