.mapView {
  position: absolute;
  width:96%;
  height: 100%;
}


  /* This applies from 600px onwards 
        (Desktop specifics) */
@media (min-width: 600px) {
  .mapView{
    position: absolute;
    width:99%;
    height:79%
  }
}