.search {
  background: #F2F2F2;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 2px;
  margin: 5px;
  display: inline-block;
}

.search input {
  border: none;
  background: rgba(0, 0, 0, 0);
  float: left;
  font-size: 18px;
  margin: 5px 10px;
}

.search input:focus {
  outline: none;
}

.search button {
  float: right;
  padding: 0;
  margin: 5px 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}

.search button img {
  width: 20px;
}
