.settings-container{
    display: flex;
    background-color: white;
    flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
    justify-content:space-evenly;

}
.logOutBtn{
    background: #F7B088;
    color: black;
    margin:15px;
    border: 2px solid gray; 
    width: 150px;
}
#not-implemented{
    background:#fff;
    color: gray;
    margin:2px;
    border: 2px solid gray; 
    width: 150px;
}
#not-implemented:hover{
    background:lightgray;
    color: gray;
    margin:2px;
    border: 2px solid gray; 
    width: 150px;
    cursor: not-allowed;
}

.settings-container img{
    border-radius: 50%;
}

.settings-container h1,h3{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    font-weight: lighter;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: auto;
    height: auto;
  
    background-color:gray;
    opacity:0.95;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5%;
    position: fixed;
    z-index: 1;
    top:50%;
    margin-left: -5%;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 0.95;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:0.95 ;}
  }