.settings-container{
    display: flex;
    background-color: white;
    flex-direction: column;
	  align-items: center;
	  flex-wrap: wrap;
    justify-content:space-evenly;

}
.logOutBtn{
    background: #F7B088;
    color: black;
    margin:15px;
    border: 2px solid gray;
    width: 150px;
}
#not-implemented{
    background:#fff;
    color: gray;
    margin:2px;
    border: 2px solid gray;
    width: 150px;
}
#not-implemented:hover{
    background:lightgray;
    color: gray;
    margin:2px;
    border: 2px solid gray;
    width: 150px;
    cursor: not-allowed;
}

#profileImage{
    border-radius: 50%;
    width: 40%;
}

.settings-container h1,h3{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    font-weight: lighter;
}

.setting-buttons {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

   /* This applies from 600px onwards 
        (Desktop specifics) */
@media (min-width: 600px) {
  #profileImage{
    border-radius: 50%;
    width: 20%;
  }
}
