.title-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.title-container img {
    height: auto;
    width: 20%;    
}
.title-container, .header-title{
    margin-right: auto;
    align-items: center;
    text-decoration: none;
    color: black;
} 
.header-title, h1,h5{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    font-weight: lighter;

}
.header-title, h1{
    margin-bottom: 0;
    padding-bottom: 0;
}
.header-title, h5{
    margin-top: 0;
    padding-top:0;
}
    