button:disabled:hover {
    background: lightgray;
    color: gray;
  }
  button:disabled{
    background: lightgray;
    color: gray;
  }
  .container{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;


}
.list-container{
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    position: relative;
    margin-left: -5%;
    list-style-type: none;
    overflow: hidden;
}

.list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 2px;
    background-color: #F8F8F8;
    border-radius: 10px;
}

#list-image{
    width:50px;
    height: 50px;
}
#list-title{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 2px;
}
#openDetails{
    width: 100%;
}
#openDetails:hover{
    cursor: pointer;
}

#list-buttons{
    display: flex;
    direction: row;
}
#list-share{
    cursor: not-allowed;
}
#list-trash{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}
#list-trash:hover{
    cursor: pointer;
}
.yourMapView{
    display:none;
}

/* This applies from 600px onwards
    (Desktop specifics) */
@media (min-width: 600px) {
    .list-container{
        display: flex;
        flex-direction: column-reverse;
        list-style-type: none;
        width: 50%;
        margin: 0;
        padding: 10px;
        
    }
    .yourMapView{
        display: flex;
        flex-direction: column;
        align-self: left;
        align-self: baseline;
        flex: 1;
        max-width: 50%;
        border: 1px  lightslategrey;
        color: lightslategrey;
        text-align: center;
        margin: 10px;
        cursor: not-allowed;    
    }


}