#disabled3:hover {
    background: lightgray;
    color: gray;
    cursor: not-allowed;
  }
 #disabled3{
    background: lightgray;
    color: gray;
    cursor: not-allowed;
  }
 
.list-container{
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    position: relative;
    list-style-type: none;
    overflow: hidden;
}

.list-item{
    display: flex;
    width: 95%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 2px;
    background-color: #F8F8F8;
    border-radius: 10px;
}

#list-image{
    min-width: 50px;
    width:50px;
    height: 50px;
    object-fit: cover;
    background-position: center;

    
}
#list-title{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 2px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    font-weight: lighter;
}
#openDetails{
    width: 100%;
}
#openDetails:hover{
    cursor: pointer;
}

#list-buttons{
    display: flex;
    direction: row;
}
#list-share{
    cursor: not-allowed;
}
#list-trash{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}
#list-trash:hover{
    cursor: pointer;
}

.yourSaved-container{
    display: flex;
    flex-direction: column;
}

.yourMapView{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    text-align: center;
    cursor: not-allowed;
    background-color: lightgray;
    opacity: 0.5;
    margin: 20px;
    padding: 5px;
}

/* This applies from 600px onwards
    (Desktop specifics) */
@media (min-width: 600px) {
    .yourSaved-container{
        display: flex;
        flex-direction: row;
    }
    .list-container{
        display: flex;
        flex-direction: column-reverse;
        list-style-type: none;
        width: 50%;
        margin: 0;
        padding: 10px;
        
    }
    .yourMapView{
        display: flex;
        flex-direction: column;
        border: 1px solid;
        text-align: center;
        cursor: not-allowed;
        background-color: lightgray;
        opacity: 0.5;
        margin: 10px;
        padding: 5px;
        width: 50%;
    }


}